NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1338
NEXT_PUBLIC_STRAPI_API_TOKEN=your_strapi_api_token_here
NEXT_PUBLIC_STRAPI_FORM_SUBMISSION_TOKEN=your_form_token_here
NEXT_PUBLIC_PAGE_LIMIT=6
NEXT_PUBLIC_LOCALE_ENABLE=true
NEXT_RESEND_KEY=your_resend_api_key_here
MY_SECRET_TOKEN=your_revalidation_secret_here
